* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(160, 160, 160);
}

header{
    background-color: white;
    text-align: center;
}
div.center{
   margin: center;
   justify-content: center; 
}
.post-header strong{
    color: black;
    text-align:left;
    margin: 0;
    padding: 0;

}
.post-header {
    width: auto;
    height: auto;
    background-color: white;
    padding-left: 0px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 8px;
}
.post-header p{
    text-align: right;
    padding: auto;
    color: gray;
    font-size: larger;
}
.post-container{
    width: 600px;
   height: auto;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    background: white;
    
    margin-bottom: 20px;
    

}
.caption{
    display: flex;
    width: 600px;
    overflow: auto;
    background: white;
    align-items: center;
    font-size: medium;
    padding: 10px;
}
img { 
    object-fit: cover;
    width: 600px;
    height: 400px;
  }
